h3{
	text-align: center;
	color: #3d3835;
}
.lebouton{
	margin-top: 20px;
}

._100{
    font-size: 100px;
    text-align: center;
}

._100 ._20{
	font-size: 20px;
}


@media screen and (max-width: 640px) {
	h3{
		font-size: 16px;
	}

	.lebouton{
		margin-top: 0px;
		margin-bottom: 30px;
	}

	.pad_Titre{
		margin-top: 30px;
	}

	._100{
	    font-size: 70px;
	    text-align: center;
	}
}