.img_avatar{
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    border: thick double #32a1ce;
}
.align_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
._60{
    font-size: 60px;
    font-weight: bold;
}

._24{
    font-size: 24px;
    color: #bfa375;
}

.well{
    margin-top: 50px;
}

.well-info{
    background-color: #d9edf7;
}

.btn-voir{
    color: green;
    border-radius: 15px;
    border: 2px solid green; 
}

.btn-annule{
    color: red;
    border-radius: 15px;
    border: 2px solid red; 
}

.btn-annule-disabled, .btn-annule-disabled:hover{
    color: #303030;
    border-radius: 15px;
    border: 2px solid #303030;
    cursor: not-allowed; 
}

.btn-notee{
    color: blue;
    border-radius: 15px;
    border: 2px solid blue;
}

@media screen and (max-width: 640px) {
    .img_avatar{
        height: 155px;
    }
    ._60{
        font-size: 26px;
    }
    ._24{
        font-size: 16px;
    }
}