/*Bordure du bouton retour*/
.rad{
    border-radius: 50px 15px 15px 30px;
}

h4{
    border-bottom: solid 2px;
    padding-top: 15px;
    font-size: 24px;
}

/*Background des lieux*/
.lieu{
    background-color: #E6F2FD;
}

/*Une flesh entre les lieux*/
.flech{
    padding-top: 30px;
    font-size: 40px;
}


.nav-pills > li {
    font-size: 14px;
    background-color: #D6DEE6;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #3d3835;
}
._26{
    font-size: 26px;
    float:right;
}
._20{
    font-size: 20px;
    font-weight:bold;
}

._40{
    font-size: 40px; float:right; color: #3d3835;
}

._26 span{
    font-size: 10px;
    font-weight:bold;
}

.lataille{
    font-size: 15px;
}

.fond_couleur{
    background-color: #F7F8F9;
    padding-top: 25px;
}

#fsc, #fac{
    padding-top: 25px;
}

.pdbottom{
    padding-bottom: 25px;
}




@media screen and (max-width: 640px) {
    .flech {
        padding-top: 50px;
        font-size: 20px;
    }

    .nav-pills > li {
        font-size: 10px;
    }
}