.btn_right{
    background-color: #bfa375;
}
.decal_bottom{
    margin-bottom: 5%;
}
.pad_bottom{
    margin-bottom: 3%;
}
#afficheModif{
    padding-top: 3%;
    border-top: 1px solid #000000;
}
.couleur_back, #afficheModif{
    background-color: #c6c6c6;
}

.depart, .destination, .age{
	width: 250px;
}

@media screen and (max-width: 640px) {
	.depart, .destination, .age{
		width: auto;
	}
}