.btn_right{
    background-color: #bfa375;
}

._16{
    font-size: 26px;
    float:right;
}

.lataille{
    font-size: 15px;
}

.rad{
    border-radius: 50px 15px 15px 30px;
}

.fond_couleur{
    background-color: #bfa375;
    padding-top: 25px;
    overflow: scroll;
    height: 1000px;
}
