.transbox{
  background-color: #ffffff;
  opacity: 0.6;
  border : solid 4px #3d3835;
  border-radius: 6px;
  color: #000000;
}

div.transbox form{
  color: #000000;
}

div.transbox h3{
  color: #000000;
}

.shadow{
    box-shadow: 10px 5px 5px #3d3835;
}
.color_note_id{
    color:#3d3835;
}

.section_background_notes
{
    background-color:#E6E6E6;
}

.mbr-section__row a{
    text-decoration:none;
}

.section_background_footer
{
    background-color: #433636;
}

h2
{
    color:#3d3835;
}

.btn-default {
    border-color:#3d3835;
    color: #3d3835;
}



.tip:hover {
    cursor: help;
    position: relative
}
.tip span {
    display: none
}
.tip:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}
@media screen and (max-width: 640px) {
  #redirection{
    padding-top: 70px;
  }
}